################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.xml
/SampleTechnoligyForTest/.idea
/SampleTechnoligyForTest/.vs
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.RestApi/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.RestApi/bin
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.Web/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.Web/bin
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.BlazorServer/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.BlazorServer/bin
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.BlazorWASM/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.BlazorWASM/bin
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.BlazorWASM.Client/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.BlazorWASM.Client/bin
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.Consol/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.Consol/bin
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.WinForm/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.WinForm/bin
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.WPFForm/obj
/SampleTechnoligyForTest/src/UI/SampleTechnoligyForTest.WPFForm/bin
/SampleTechnoligyForTest/src/Application/Command.Application/obj
/SampleTechnoligyForTest/src/Application/Command.Application/bin
/SampleTechnoligyForTest/src/Application/Query.Application/obj
/SampleTechnoligyForTest/src/Application/Query.Application/bin
/SampleTechnoligyForTest/src/Common/SampleTechnoligyForTest.Common/obj
/SampleTechnoligyForTest/src/Common/SampleTechnoligyForTest.Common/bin
/SampleTechnoligyForTest/src/Domain/SampleTechnoligyForTest.Entities/obj
/SampleTechnoligyForTest/src/Domain/SampleTechnoligyForTest.Entities/bin
/SampleTechnoligyForTest/src/Infrastructure/SampleTechnoligyForTest.Infrastructure/obj
/SampleTechnoligyForTest/src/Infrastructure/SampleTechnoligyForTest.Infrastructure/bin
/SampleTechnoligyForTest/src/Persistence/Command.Persistence/obj
/SampleTechnoligyForTest/src/Persistence/Command.Persistence/bin
/SampleTechnoligyForTest/src/Persistence/Query.Persistence/obj
/SampleTechnoligyForTest/src/Persistence/Query.Persistence/bin