################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.xml
/.idea/.idea.SampleTechnoligyForTest/.idea/workspace.xml
